:root {
    --primary-light: #fecaca;
    --hover-red: #ef4444;
    --text-light: #ffffff;
    --bg-light: #fee2e2;
    --bg-white: #ffffff;
    --shadow-color: rgba(220, 38, 38, 0.1);
}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
    
body {
    background-color: #fff;
    display: flex;
    min-height: 100vh;
}
    
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 282px;
    background-color: rgba(179, 38, 30, 1);
    padding: 20px;
    transition: all 0.3s ease;
    box-shadow: 4px 0 10px var(--shadow-color);
    z-index: 1000;
}

.sidebar.manager {
    background-color: #241F4A;
}
    
.sidebar.close {
    width: 73px;
}
    
.sidebar.close #user-icon {
    width: 50px;
    height: auto;
    top: 80px;
}
    
.sidebar.close .menu_item .item a {
    justify-content: center;
    padding: 20px;
}
    
.menu_container {
    margin-top: 40px;
    height: calc(100% - 82px);
    overflow-y: auto;
}
    
.menu_item {
    list-style: none;
    padding: 0;
}
    
.menu_item .item {
    margin-bottom: 10px;
}
    
.menu_item .item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: flex-start;
    color: var(--text-light);
    padding: 17px;
    transition: all 0.3s ease;
    white-space: nowrap;
}
    
.menu_item .item a:hover {
    background-color: rgba(174, 12, 7, 1);
}
.menu_item.manager .item a:hover {
    background-color: #583F99;
}
    
.menu_item .item a span.material-symbols-outlined {
    margin-right: 15px;
    font-size: 24px;
    margin-left: 5px;
}
    
.sidebar-controls {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
    
#sidebar-close {
    display: none;
}
    
#lock-icon {
    font-size: 27px;
    cursor: pointer;
    color: var(--text-light);
    transition: color 0.3s ease;
    margin-left: 7px;
}
    
#sidebar-close,
#sidebar-closed-icon {
    font-size: 40px;
    cursor: pointer;
    color: var(--text-light);
    transition: color 0.3s ease;
}
    
#lock-icon:hover,
#sidebar-close:hover,
#sidebar-closed-icon:hover {
    color: #583F99;
}
    
.main {
    margin-left: 270px;
    padding: 20px;
    width: calc(100% - 270px);
    transition: margin-left 0.4s ease, width 0.4s ease;
    position: relative;
}
    
.sidebar.close ~ .main {
    margin-left: 75px;
    width: calc(100% - 75px);
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 20px;
}
    
#user-icon {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 46px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--text-light);
    padding: 2px;
}
    
.logo_name {
    font-size: 22px;
    color: var(--text-light);
    font-weight: 500;
    text-align: center;
}
    
.sidebar.close #lock-icon {
    display: none;
}
    
.sidebar.close .item a span:last-child {
    display: none;
}
    
.sidebar.close .logo_name,
.sidebar.close .item span:not(.material-symbols-outlined) {
    display: none;
}
    
.button-info {
    background-color: rgba(36, 31, 74, 1);
    color: var(--text-light);
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 90px;
    right: 20px;
}
    
.button-info:hover {
    background-color: rgba(57, 50, 107, 1);
}
    
.info-filial {
    color: rgba(88, 63, 153, 1);
    font-size: 20px;
    padding-left: 10px;
    margin-top: 40px;
}
    
.title-info {
    color: rgba(36, 31, 74, 1);
}
    
@media screen and (max-width: 800px) {
    .sidebar {
    width: 78px;
    }
    
    .main {
    margin-left: 78px;
    }
    
    .logo_name,
    .item span:not(.material-symbols-outlined) {
    display: none;
    }
}