<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CadastroUsuarios</title>
<link th:href="@{/img/logo.png}" rel="icon" type="image/x-icon">
</head>
<body>
<form action="/salvarusuarios" method="post" th:object="${usuarioobj}">
        <label>id</label>
 		<input name="id" th:field="*{id}" readonly="readonly">
        <label>login</label>
        <input name="login" th:field="*{login}" required>
        <label>senha</label>
         <input type="password" name="password" th:field="*{password}" required>
		<label>Cargo</label>
		<input name="cargo" th:field="*{cargo}" required>
        
        <label>Empresa</label>
        <input name="empresa" th:field="*{empresa}" required>
         <input type="submit" value="Salvar">
      </form>  
      <a href="http://localhost:8081/listarusuarios">Listar Usuários</a>
        
    <table>
	<tr th:each = "Users : ${usuarios}">
	<td	th:text = "${Users.id}"></td>
	<td	th:text = "${Users.login}"></td>
	<td	th:text = "${Users.password}"></td>
	<td	th:text = "${Users.cargo}"></td>
	<td	th:text = "${Users.empresa}"></td>
	<td><a th:href="@{/editarusuario/{idusuario}(idusuario=${Users.id})}">Editar</a> </td>
	<td><a th:href="@{/removerusuario/{idusuario}(idusuario=${Users.id})}">Excluir</a> </td>
	</tr>
	</table>
	
	<a href="http://localhost:8081/">voltar</a>
   
</body>
</html>